.inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 16px;
}

.input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.inputError {
    border-color: #dc3545;
}

.errorFeedback {
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}